.mb-tn {
    margin-bottom: 7px;
}

.mt-sm {
    margin-top: 10px;
}

.mt-lg {
    margin-top: 20px;
}

.mr-sm {
    margin-right: 10px;
}

.mb-tn {
    margin-bottom: 7px;
}

.text-center {
    text-align: center;
}
.text-decoration{
    text-decoration: none;
}


